.container_price{
    color: black;
    max-width: 550px;
    padding-right: 85px;
    p{
        margin: 0px 0px 16px 0px;
        font-family: 'Manrope';
        font-size: 32px;
        text-transform: capitalize;
        span:nth-of-type(1){
            color: #2C7EF8;
            text-transform: uppercase ;
        }
        span:nth-of-type(2){
            color: #2C7EF8;
            text-transform: capitalize;
        }
    }
}
@media (max-width: 460px){
    .container_price{
        max-width: 320px;
        p{
            font-size: 24px;
            text-align: center;
        }
    }
}